body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    padding: 10px;
  }

  .successText {
    position: absolute;
    color: #13bb00;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .container {
    max-width: 320px;
    max-height: 568px;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  h3 {
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .progress {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    transition: background 0.3s ease-in-out;
    background: conic-gradient(#ededed 0deg, #ededed 360deg);
  }
  
  .progress[value] {
    background: conic-gradient(#2146ff var(--value)deg, #ededed var(--value)deg);
  }
  
  .progress::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  #progressValue {
    width: 50px;
    height: 30px;
    border-radius: 30px;
    border: #000 solid 1.5px;
    text-align: center;
    margin-right: 10px;
    font-weight: 550;
    letter-spacing: 1px;
  }
  
  .controllers {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  
  .lol{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0;
  }


  .switcher {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    background-color: #e2e9ff;
    border-radius: 30px;
    margin-right: 10px;
  }
  
  .switcher::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
  }
  
  .checkbox:checked + .switcher::after {
    left: 20px;
  }
  
  .checkbox:checked + .switcher {
    background-color: #2146ff;
  }
  
  .checkbox {
    display: none;
  }


  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotating {
    animation: rotate 2s linear infinite;
  }
  
  @media (orientation: landscape) {
    .body{
        display: flex;
        justify-content: center;
    }

    .container {
        max-width: 568px;
        max-height: 320px;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin: auto;
        justify-items: center;
        gap: 10px;
        box-sizing: border-box; 
        -webkit-box-align: center;
    }

    h3 {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .progress {
        margin-right: 20px; 
    }

    .controllers {
        align-items: flex-start;
    }
}
